<div class="main" style="margin: 3rem;">
 <h1>Authorizer homepage</h1>

 <div class="login__form">

  <form action="" method="POST" enctype="">
   <label>Login to continue:</label>

   <div class="messages" style="text-align: center;">
    <%- include('./partials/messages.ejs') %>
  </div>
  
  
   <div class="inputs">
    <input type="email" placeholder="Enter your email" name="email" class="form-control" requir>
    <input type="password" placeholder="Enter your password" name="pass" class="form-control">
   </div>

   <input type="submit" value="Login" class="btn btn-primary">
  </form>
 </div>

</div>